package layout

import (
	partials "github.com/SJ22032003/go-fullstack/views/partials"
)

templ BaseLayout() {
	<!DOCTYPE html>
	<html data-theme="garden">
		@partials.Head()
		<body>
			@partials.Navbar()
			{ children... }
		</body>
	</html>
}
